services:
  - type: web
    name: risk-central-mock-service
    runtime: docker
    dockerfilePath: ./risk-central-mock-service/Dockerfile
    dockerContext: ./risk-central-mock-service
    envVars:
      - key: JAVA_OPTS
        value: "-Xmx512m -Xms256m"
      - key: SERVER_PORT
        value: "8081"
    healthCheckPath: /actuator/health
    plan: free
    region: oregon
    autoDeploy: true
